spring:
  cloud:
    openfeign:
      client:
        config:
          default:
            logger-level: full
            connect-timeout: 1000
            read-timeout: 2000
          service-product:
            logger-level: full
            connect-timeout: 3000
            read-timeout: 5000
            request-interceptors:
              - org.example.interceptor.XTokenInterceptor
# 开启熔断
feign:
  sentinel:
    enabled: true