server:
  port: 9000
spring:
  application:
    name: service-product
  profiles:
    active: dev
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        namespace: ${spring.profiles.active:public}
        import-check:
          enabled: false
---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
    activate:
      on-profile: dev
---